#side-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 5;
  background: white;
  left: 0px;
  width: 350px;
  height: 100%;
  box-shadow: 0px 5px 10px grey;
  transition: margin-left 1s ease-in-out;
  text-align: center;
}

#hide-sidebar-button {
  position: absolute;
  z-index: 5;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: grey;
  height: 30px;
  width: 30px;
  right: -31px;
  background: white;
  box-shadow: 3px 3px 5px grey;
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
}

#hide-sidebar-button:hover {
  cursor: pointer;
  opacity: .9;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 54px;
  width: 165px;
  margin: 10px auto;
  flex: none;
}
